<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @quest.body %>
</p>

<p>
  <strong>Qtype:</strong>
  <%= @quest.qtype %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
