


<%= current_user.email %>

<h1> pods</h1>
<ul>
  <% @pods.each do |pod| %>
      <li> <%= pod[:time] %> </li>
  <% end %>
</ul>

<ul>
  <% @markers.each do |m| %>
      <li> <%= m[:lat] %> <%= m[:lng] %> </li>
  <% end %>
</ul>

<section class="map">
  <%= render 'shared/map' %>
</section>

<div id='map'></div>



