<%= form_with(model: firetree, local: true) do |form| %>
  <% if firetree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firetree.errors.count, "error") %> prohibited this firetree from being saved:</h2>

      <ul>
      <% firetree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :firetree_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :firetree_body %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :firetree_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
