<title>Adi </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<%= javascript_include_tag "//maps.google.com/maps/api/js?key="+String(ENV['GOOGLE_MAPS_JS_API_KEY']),
                           'application', 'data-turbolinks-track': 'reload' %>

<!--webpacker packs-->
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%#=  data-turbolinks-track: 'reload'to force a full page reload when you deploy a new JavaScript bundle %>
<%= javascript_pack_tag 'grupe_detail_react', 'data-turbolinks-track': 'reload' %>