<%= form_with(model: grupe, local: true) do |form| %>
  <% if grupe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupe.errors.count, "error") %> prohibited this grupe from being saved:</h2>

      <ul>
      <% grupe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :grupe_name %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id, id: :grupe_location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
