
<div class="color3">
<h3> Comments </h3>


  <div id="grupecomment-list">
<% @grupe.grupecomments.each do |grupecomment| %>
      <div class="row">
      <div class="col-sm-3">
        <%= grupecomment.user.display_name %>
      </div>

      <div class="col-sm-9 bg-white ">
        <%= grupecomment.comment %>
      </div>
      </div>

<% end %>
  </div>

  <%= form_tag grupe_grupecomments_path(@grupe), method: :post, remote: true do %>


          <%= text_field_tag :comment, nil, size: 50 , placeholder: "Add a note", class: "" %>



        <br/>


          <%= submit_tag ">>>", class: "btn btn-primary" %>




  <% end %>

</div>