<div class="row ">
  <div class="mt-5 p-3">
    QUest view style 2
  </div>


</div>

<div class="row mt-7">
  <div class="col">
    <div id="chat" class="d-flex flex-column color2">
      <ul class="nav flex-column" id="myTab2" role="tablist">
        <% @grupe.quests.each_with_index do |quest, index| %>


            <div class="mb-auto p-2">

              <span class="color1"> <%= quest.name %> </span>
              <%= quest.body %>

              <a class="nav-link" data-toggle="tab" href="#home2-<%= index %>" role="tab"
                 aria-controls="profile" aria-selected="false">

                Details <i class="fa fa-bolt fa-2x"></i>
              </a>

            </div>

        <% end %>
      </ul>


    </div>
  </div>
  <div class="col color3">
    <div class="tab-content" id="myTab2Content">
      <% @grupe.quests.each_with_index do |quest, index| %>
          <div class="tab-pane" id="home2-<%= index%>" role="tabpanel">
            <%= quest.body %>
          </div>

      <% end %>
    </div>
  </div>

</div>


<div class="row mt-6">
  <div class="col">
    <ul class="nav flex-column" id="myTab" role="tablist">
      <% @grupe.quests.each_with_index do |quest, index| %>
          <li class="nav-item">

            <div>
              <a class="nav-link btn btn-outline" data-toggle="tab" href="#home-<%= index %>" role="tab"
                 aria-controls="profile" aria-selected="false">
                <%= index %> <%= quest.name %>
              </a>

              <%= quest.body %>
            </div>

          </li>
      <% end %>

    </ul>
  </div>
  <div class="col color3">
    <div class="tab-content" id="myTabContent">
      <% @grupe.quests.each_with_index do |quest, index| %>
          <div class="tab-pane" id="home-<%= index%>" role="tabpanel" aria-labelledby="home-tab">
            <%= quest.body %>
          </div>

      <% end %>
    </div>
  </div>
</div>
