
<%#= javascript_pack_tag 'grupe_detail', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'grupe_detail_react' %>

<%= tag.div nil, id: 'grupeInfo',  data: { grupeInfo: @grupe} %>

<%= tag.div id: "single-grupe-quests-info",
            data: { questsinfo: @quests.to_json(methods: [:times_done_today])
            }  %>

<h3> Grupe: <%= @grupe.name %>  <%= @grupe.id %> @ location
  <%= link_to @grupe.location do%>
                <%= @grupe.location_id.to_s + " " + @grupe.location.name %>
                
  <% end %>
   grouping for
  <a href="#InfoAnchor2" data-turbolinks="false"> <%= @grupe.quests.count %> quests </a>
</h3>

<% if @grupe.users.all.count < 5 &&
    (@grupe.users.where(id: current_user.id).count == 0) %>
  <%= link_to join_grupe_path(@grupe.id), class: "btn btn-outline-primary"  do %>
      Join up <i class="fa fa-cubes fa-2x"></i>
  <% end %>
<% end %>

<%= tag.div id: "single-location-info", data: { locationinfo: @grupe.location.to_json() } do %>

<% end %>

<div id='react-app'> </div>

<%= tag.div class: "row" do %>



<% end %>  <!-- end div -->



<% unless @grupe.locked_in_at %>
  <div class="row ">
  <% if @grupe.users.all.count >= @grupe.locked_count && !current_user.confirmed_for(@grupe) %>
  <%= link_to confirm_grupe_path(@grupe), class: "btn btn-outline-primary"  do %>
                  Confirm grupe <i class="fa fa-cubes fa-2x"></i>
              <% end %>
  <% end %>

    <%= link_to leave_grupe_path(@grupe), class: "btn btn-outline-danger"  do %>
                  Leave grupe <i class="fa fa-cubes fa-2x"></i>
              <% end %>
  </div>

<% end %>

<%# #####################quest area
https://getbootstrap.com/docs/4.0/layout/grid/#variable-width-content
%>

<a name="InfoAnchor2 "></a>
<div class="row ">
  <div class="col-sm-10">
    <div class="d-flex flex-column ">
      <% @grupe.qglinks.each_with_index do |qglink, index| %>


          <div class="mb-4 p-2">


          <span class="color1"> <%= qglink.quest.name %>
          <% if @grupe.creator_id == current_user.id %>
          
          
          <%= link_to([@grupe, qglink], :method  => :delete)   do %>
            Remove quest <i class="fa fa-bolt fa-2x"></i>
          <% end %> 

                

          <% end %>

           </span>
          
          <div> <%= qglink.quest.body.html_safe %> </div>
          
                    </div>

      <% end %>


    </div>

  </div>

  <div class="col-sm-2">
  <% if @grupe.creator_id == current_user.id %>
    <%= link_to add_quest_grupe_path(@grupe)  do %>
        Add a quest <i class="fa fa-plus-circle fa-1x"></i>
    <% end %>
  <% end %>
    
  </div>


</div>



<div class="row">
  <div class="col">

    <%= render partial: "grupecomments" %>

  </div>
</div>



<!--<div class="row">-->
  <!--<a name="InfoAnchor1"></a>-->
  <!--<div class="col ">-->
    <!--<div>-->
      <!--<h3> General non-group specific Details about location</h3>-->
      <!--<ul>-->
        
        <!--</li>-->
        <!--<li> <i class="fa fa-bolt" aria-hidden="true"></i> Info 1-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--a map-->
    <!--<%= tag.div nil, id: 'map' %>-->
  <!--</div>-->
<!--</div>-->







