<p id="notice"><%= notice %></p>

<%= form_with(url: transactions_path, class: "form-inline my-2 my-lg-0 mr-auto", local: true, method: :get) do |f| %>
    <%= f.text_field :near, class: "form-control mr-sm-2", placeholder: "Search" %>
    <%= f.submit "Search", class: "btn btn-outline-secondary my-2 my-sm-0" %>
<% end %>

<h1>Transactions (<%= @transactions.total_count %>) </h1>


<div class="row">

  <div class="col-6">

    <%= render partial: "list" %>

    <br>

    <%= link_to 'New Transaction', new_transaction_path %>

  </div>

  <div class="col-6">
    <div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="mapDragCheckbox">
        <label class="form-check-label" for="defaultCheck1">
          Search as I move the map
        </label>
      </div>

    </div>
    <%= tag.div nil, id: 'map',data: { checkedDrag: @checkedDrag}  %>
    <%= link_to "Redo search in this area", "#", id: "redo-search" %>
  </div>
</div>


