<%= tag.div id: "locations-list",
            data: { locations: @locations.to_json(methods: [:my_tostring]),
                    l: params[:l],
                    current_page: @current_page
            } do %>

    <%= paginate @locations, theme: 'twitter-bootstrap-4', remote: true %>
    <% @locations.each do |location| %>
        <div>
          <h5><%= link_to location do%>
                <%= location.name %> <i class="fa fa-flag-o" aria-hidden="true"></i>
            <% end %>
          </h5>
          <div class="color3">
            <%= location.grupes.count %> grupes setting up here

          </div>
          <div class="row">
            <div class="col">
              <ul>

                <li> <i class="fa fa-bolt" aria-hidden="true"></i>
                 type: <h4> <%= location.ltype %> </h4>
                </li>

              </ul>
            </div>
            <div class="col">
              <ul>

                <li> <i class="fa fa-history fa-1x" ></i>
                  Recent meets: <%= location.total_grupes %>
                </li>

                <li> <i class="fa fa-database" aria-hidden="true"></i>
                <% if location.recent_quest_id != nil %>
                  
                   <%= link_to quest_path(location.recent_quest_id) do %>
                          last quest
                   <% end %>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
        </div>

    <% end %>

    <!-- pagination will update-everytime link is clicked -->
    <%= paginate @locations, theme: 'twitter-bootstrap-4', remote: true %>

<% end %>