<p id="notice"><%= notice %></p>

<h1>Locations  ( <%= @locations.total_count %> )</h1>

<div class="row">
  <div class="col-8">


    <%= tag.div id: "locations-list",
                data: { locations: @locations.to_json(methods: [:my_tostring])
                        } do %>


        <% @locations.each do |location| %>
            <div>
              <h6><%= link_to location.name, location %></h6>
              <div class="color3">
                <%= location.grupes.count %> grupes setting up here

              </div>
              <div class="row">
                <div class="col">
                <ul>

                <li> <i class="fa fa-bolt" aria-hidden="true"></i> Info 1
                </li>

                  <li> <i class="fa fa-bolt" aria-hidden="true"></i>  Info 2
                  </li>
                </ul>
                </div>
                <div class="col">
                  <ul>

                    <li> <i class="fa fa-anchor fa-2x" ></i> Info blah blah
                    </li>

                    <li> <i class="fa fa-database" aria-hidden="true"></i>
                         star level: <%= [*5..30].sample %>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
            <hr />
        <% end %>

        <!-- pagination will update-everytime link is clicked -->
        <%= paginate @locations, theme: 'twitter-bootstrap-4'%>
        <!--<%= paginate @locations, theme: 'twitter-bootstrap-4', remote: true %>-->

    <% end %>

    <br>

    <%= link_to 'New Location', new_location_path %>

  </div>

  <div class="col-4 color1" >

    <%= tag.div nil, id: 'map' %>

  </div>
</div>

