<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col" >

    <% @location.grupes.all.each do |grupe|%>
        <!--Grupe list component-->
        <div class="row ">
          <% grupe.users.all.each do |user|%>
              <div class="col-sm-2 color3 offset-md-1">
            <i class="fa fa-user-circle fa-2x"></i>
                <ul>
                  <li>user <%= user.id %></li>
                  <li> <%=  FFaker::Color.name  + FFaker::CheesyLingo.sentence.split(" ").sample  %></li>
                </ul>

              </div>

          <% end %>
          <!--5 max in grupe, show empty spots if less than 5-->
          <% [*grupe.users.all.count..4].each do |placeholder|%>
              <div class="col">
                <i class="fa fa-square-o fa-2x"></i>
                  nil
              </div>
          <% end %>
           <%= link_to "detail here: "+grupe.name , grupe %>
        </div>
    <% end %>

  </div>
  <div class="col-4">

    <%= tag.div nil, id: 'map' %>



  </div>
</div>


<div class="row">
  <p>
    <strong>Name:</strong>
    <%= @location.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @location.longitude %>
  </p>

  <p>
    <strong>Ltype:</strong>
    <%= @location.ltype %>
  </p>

</div>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
